@import "./theme";

/**********************
 * THEME VARIABLES
 **********************/

$color-light-green: #87C145;
$color-dark-green: #3E5820;
$color-red: #CD5360;
$color-blue: #008F95;
$color-light-gray: #D9D9D9;
$color-dark-gray: #423E37;
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

/**********************
 * ELEMENTS
 **********************/

.mat-drawer-container {
    background: transparent;
}

.close-dialog-icon {
    color: $color-dark-gray;
    float: right;
    cursor: pointer;
    &:hover {
        color: $color-red;
    }
}

.page-header {
    letter-spacing: 0.75rem;
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    color: $color-dark-gray;
    font-style: italic;
    font-variant: petite-caps;
    text-align: center;
    .highlight {
        font-weight: lighter;
        font-style: normal;
        font-size: 6rem;
    }
}

.plant-grid-item {
    padding: 0;
    margin: 16px 16px;
    border-radius: 0.75rem;
    border-bottom: 4px solid $color-dark-gray;
    background-size: 100%;
    overflow: hidden;
    transition: .1s ease-in;
    background-color: $color-dark-gray;
    &:hover {
        border-bottom: 4px solid $color-light-green;
        .plant-icon {
            opacity: 1;
        }
    }
    @media screen and (max-width: $break-sm) {
        border-bottom: 4px solid $color-light-green;
    }
}

.dialog-container {
    border-top: 4px solid $color-light-green;
    border-radius: 7px;
    max-width: 100vw !important;
}

@media screen and (min-width: $break-sm) {
    .remove-bottom-padding {
        .mat-dialog-container {
            padding-bottom: 0;
            overflow: hidden;
        }
    }
}

.highlight {
    color: $color-red !important;
}

.highlight-blue {
    color: $color-blue !important;
}

.dig-it-tooltip {
    border-top: 4px solid $color-light-green;
    margin: 0 !important;
    text-align: justify;
    font-size: 0.75rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.loading-icon {
    border: 8px solid $color-light-gray;
    border-top: 8px solid $color-blue;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.info-icon {
    font-size: 1rem;
    color: $color-dark-gray;
    cursor: pointer;
    opacity: 0.4;
    position: relative;
    top: 0.75rem;
    left: 0.5rem;
    &:hover {
        color: $color-red;
        opacity: 1;
    }
}


/* Snackbar styling */

.snackbar-success,
.snackbar-fail {
    background: #423E37 !important;
    margin: 0 !important;
    span {
        font-size: 1.25rem;
    }
}

.snackbar-success {
    color: $color-light-green !important;
    border-bottom: 4px solid $color-light-green;
}

.snackbar-fail {
    color: $color-red !important;
    border-bottom: 4px solid $color-red;
}


/* Material Desgin styling */

.mat-form-field-infix {
    padding-left: 1rem !important;
}

.mat-form-field-label-wrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.42);
    border-image-source: linear-gradient(transparent, rgba(0, 0, 0, 0.42));
    border-image-slice: 20;
    label {
        padding-left: 1rem;
    }
}

.mat-focused {
    .mat-form-field-label-wrapper {
        border-left: 2px solid $color-light-green;
        border-image-source: linear-gradient(transparent, $color-light-green);
        border-image-slice: 20;
    }
}

.mat-select-panel {
    margin-top: 41px;
    .mat-option {
        .mat-option-text {
            height: 100%;
            color: $color-dark-gray;
            letter-spacing: 2px;
            font-size: 1.125rem;
            font-variant: petite-caps;
            opacity: 0.8;
            img {
                height: 50%;
                margin-right: 1rem;
                margin-top: 12px;
            }
            mat-icon.mat-icon {
                font-variant: none;
            }
            .option-text {
                margin-top: -52px;
                margin-left: 46px;
            }
        }
    }
}

.mat-radio-button {
    margin-bottom: 8px;
    label {
        color: $color-dark-gray;
    }
    .mat-radio-inner-circle {
        height: 34px !important;
        width: 34px !important;
        margin-left: -7px;
        margin-top: -7px;
    }
}


/* Grid scroll bar overridden changes */

::-webkit-scrollbar {
    width: 0.75rem;
    @media screen and (max-width: $break-md) {
        width: 0;
        height: 0;
    }
}

::-webkit-scrollbar-thumb {
    background-color: $color-dark-gray;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

::-webkit-scrollbar-track {
    background: #fff;
}

.cdk-global-scrollblock {
    overflow-y: hidden !important;
}

body {
    background-color: $color-light-gray;
    overflow: hidden;
    position: fixed;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    margin: 0;
    width: 100%;
}