<h1 class="home-page-header">Dig-It</h1>
<img src="../../../assets/img/sproutStages.jpg" class="sprout-stages-img" />

<div class="getting-started-container" fxLayout="row" fxLayout.lt-md="column">
    <div class="paragraph-container" fxLayout="column" fxFlex="50">
        <h3>GETTING STARTED</h3>
        <p class="text-justify">Lots of thought goes into planning your garden. When should I start my green beans? When am I supposed to water my aloe plant? Will a mango tree survive in Minnesota? This is where Dig-It steps in. Follow these steps and Dig-It will give you easy-to-use,
            personalized gardening information and reminders.</p>
    </div>
    <div class="steps" fxFlex>
        <div fxFlex="33">
            <mat-icon>person_add</mat-icon>
            <p>Create an Account</p>
        </div>
        <div fxFlex="33">
            <mat-icon>local_florist</mat-icon>
            <p>Add Plants to your Garden</p>
        </div>
        <div fxFlex="33">
            <mat-icon>notifications_none</mat-icon>
            <p>Dig-It reminds you when it's time to break out the gardening gloves!</p>
        </div>
    </div>

</div>
<div class="quick-overview-container">
    <div class="quick-overview-header">
        <h2 color="accent">CAN YOU</h2>
        <h1>Dig-It<span>?</span></h1>
    </div>
    <div class="quick-overview-contents" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
        <div class="quick-overview-item" fxLayout="row" fxFlex="50">
            <img src="../../../assets/icons/reminders/repot.svg" />
            <p>Dig-It was created for novice and professional gardeners alike who struggle to keep their plants strong and healthy. In short, Dig-It saves lives.</p>
        </div>
        <div class="quick-overview-item" fxLayout="row" fxFlex="50">
            <img src="../../../assets/icons/reminders/repot.svg" />
            <p>Some plants grow better in certain climates. Just plug in your ZIP code at registration, and Dig-It will give you growing tips that are specific to your location.</p>
        </div>
        <div class="quick-overview-item" fxLayout="row" fxFlex="50">
            <img src="../../../assets/icons/reminders/repot.svg" />
            <p>Dig-It Reminders notify you when you should plant your seeds, when your plants need to be watered, and even when you should harvest them!</p>
        </div>
        <div class="quick-overview-item" fxLayout="row" fxFlex="50">
            <img src="../../../assets/icons/reminders/repot.svg" />
            <p>Dig-It's extensive crowdsourced database allows users to get and share detailed information for any plant in the world!<br><br></p>
        </div>
    </div>
</div>