@import "../../../styles.scss";
.sprout-stages-img-wrapper {
    width: 100%;
    height: calc(100vh - 4rem - 64px);
    background-image: url('../../../assets/img/sproutStages.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    @media screen and (min-width: $break-xl) {
        background-size: cover;
    }
    .home-page-header-logo {
        z-index: 1;
        width: 50%;
        margin-bottom: -14%;
    }
    @media screen and (max-width: $break-sm) {
        background-image: url('../../../assets/img/sproutStages-sm.png');
        .home-page-header-logo {
            width: 100%;
            margin-top: 50%;
        }
    }
}

/deep/ .highlight {
    color: $color-light-green;
    font-weight: bold;
}

.getting-started-container {
    margin-top: -4px;
    .getting-started-paragraph-wrapper {
        min-height: 150px;
        color: $color-dark-gray !important;
        h3 {
            letter-spacing: 16px;
            text-align: right;
            font-size: 4rem;
            opacity: 0.8;
            text-align: center;
        }
    }
    .step-item {
        text-align: center;
        mat-icon.mat-icon {
            height: 4rem;
            width: 4rem;
            font-size: 4rem;
            opacity: 0.8;
        }
    }
}

.quick-overview-container {
    padding: 1rem;
    background-image: url("../../../assets/img/dirt.png");
    background-size: contain;
    color: white;
    height: calc(100vh - 64px - 1rem);
    .quick-overview-header {
        margin-top: 2rem;
        img {
            opacity: 0.8;
            width: 50%;
            @media screen and (max-width: $break-sm) {
                width: 100%;
            }
        }
        h2 {
            color: $color-light-gray;
            font-size: 5rem;
            text-align: center;
            letter-spacing: 1rem;
            opacity: 0.7;
        }
    }
    .quick-overview-contents {
        transition: all 0.5s ease;
        overflow: hidden;
        width: 100%;
        margin-top: 1rem;
        .quick-overview-item {
            padding: 0rem 2rem 1rem 0;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 100px;
            height: 150px;
            width: 500px;
            border-bottom: 2px solid $color-light-green;
            img {
                width: 150px;
                min-width: 150px;
                height: 150px;
            }
            p {
                // text-align: left;
                margin-left: 1rem;
                font-size: 1.25rem;
            }
            @media screen and (max-width: $break-sm) {
                border-radius: 50px;
                height: 265px;
                text-align: center;
                width: 100%;
                img {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                }
            }
        }
        .slide-out-left {
            position: absolute;
            -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        @-webkit-keyframes slide-out-left {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0;
            }
        }
        @keyframes slide-out-left {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0;
                display: none;
            }
        }
        .slide-in-right {
            -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        @-webkit-keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

.home-footer {
    color: white;
    h2 {
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        margin: 0;
        opacity: 0.8
    }
    a {
        text-decoration: none;
        color: white;
        opacity: 0.6;
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
    .link-icon-container {
        img {
            height: 48px;
            width: 48px;
            cursor: pointer;
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }
    .footer-logo {
        width: 150px !important;
    }
    .footer-top {
        height: 150px;
        div {
            min-height: 150px;
        }
    }
}