<div class="sprout-stages-img-wrapper">
    <img src="../../../assets/logo/dig-it-logo-full.svg" class="home-page-header-logo" />
</div>

<div class="learn-more-container" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="background-wrapper">
        <mat-icon id="gear1" fxHide.lt-sm>settings</mat-icon>
        <mat-icon id="gear2">settings</mat-icon>
    </div>
    <button mat-raised-button (click)="navigateToPage('about')">[ How Dig-It Works ]</button>
</div>

<div class="quick-overview-container" fxLayoutAlign="center center" fxLayout="column">
    <h2>CAN YOU</h2>
    <h2>DIG-IT?</h2>
    <div class="overview-text-container" fxLayoutAlign="center center">
        <p [innerHTML]="slides[selectedSlideIndex].innerHTML"></p>
    </div>
    <div class="quick-overview-contents" fxLayoutAlign="space-between center">
        <div class="overview-container" *ngFor="let i = index; let slide of slides" (click)="selectOverviewItem(i)">
            <img [src]="slide.imgSrc" [class.selected-overview]="i === selectedSlideIndex" />
        </div>
        <div id="line"></div>
    </div>
</div>

<div class="getting-started-container" fxLayout="row wrap" fxLayout.lt-sm="column">
    <div class="background-row" fxLayout="row wrap" fxLayout.lt-sm="column">
        <div class="grid-item" fxFlex="100" fxLayoutAlign="center center">
            <h2>DIG YOUR GARDEN</h2>
        </div>
        <div class="grid-item" fxFlex="50" fxHide.lt-sm>
        </div>
        <div class="grid-item grid-item-number grid-item-number-1" style="background-color: #01494e" fxFlex="50" fxLayoutAlign="space-between center">
            <h1>1</h1>
            <h3>Create an account</h3>
        </div>
    </div>

    <div class="grid-item grid-item-number" style="background-color:  #006067" fxFlex="50" fxLayoutAlign="space-between center">
        <h1>2</h1>
        <h3>Add plants to your garden</h3>
    </div>
    <div class="grid-item grid-item-number" style="background-color: #008F95" fxFlex="50" fxLayoutAlign="space-between center">
        <h1>3</h1>
        <h3>Get custom gardening notifications!</h3>
    </div>
</div>