@import "../../../styles.scss";
.sprout-stages-img-wrapper {
    width: 100%;
    height: calc(100vh - 4rem - 64px);
    background-image: url('../../../assets/img/sproutStages.webp'), url('../../../assets/img/sproutStages-min.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    .home-page-header-logo {
        z-index: 1;
        width: 50%;
        margin-bottom: -14%;
    }
    @media screen and (max-width: $break-sm) {
        background-image: url('../../../assets/img/sproutStages-sm.webp'), url('../../../assets/img/sproutStages-sm-min.png');
        .home-page-header-logo {
            width: 300px;
            margin-top: 33%;
        }
    }
}

/deep/ .highlight {
    color: $color-light-green;
    font-weight: bold;
}

.learn-more-container {
    background-image: url('../../../assets/icons/prism.svg');
    background-color: $color-light-green;
    height: 200px;
    overflow: hidden;
    border-bottom: 4px solid #008F95;
    border-top: 4px solid #008F95;
    .background-wrapper {
        width: 100%;
        height: 200px;
        position: absolute;
        overflow: hidden;
        background-image: linear-gradient(to bottom left, transparent 40%, white 90%);
        #arrow {
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            top: 100px;
            z-index: 1;
            border-top: 2px solid $color-blue;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease;
        }
        #arrow-point {
            color: $color-blue;
            text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
            margin-top: -2px;
            margin-right: -12px;
        }
        .active-arrow {
            width: 40% !important;
        }
        #gear1,
        #gear2 {
            color: white;
            font-size: 500px;
            height: 500px;
            width: 500px;
            margin: 2rem;
            animation: spin 45s linear infinite;
        }
        #gear2 {
            animation: spin 30s linear infinite;
            position: absolute;
            right: -300px;
            top: -65px;
        }
        @-moz-keyframes spin {
            from {
                -moz-transform: rotate(0deg);
            }
            to {
                -moz-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
    button {
        z-index: 2;
        background: $color-dark-gray;
        color: $color-light-gray;
        &:hover {
            color: white;
        }
    }
    /deep/ .mat-button-wrapper {
        line-height: 4rem;
        font-size: 2rem;
        font-weight: lighter;
    }
}

.quick-overview-container {
    padding: 4rem 10%;
    color: $color-dark-gray;
    background-image: url('../../../assets/img/vine-bg.jpg');
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    .overlay {
        padding: 0 4rem 4rem 4rem;
    }
    .overlay1 {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .overlay2 {
        background-color: rgba(255, 255, 255, 0.90);
    }
    h2 {
        font-size: 4rem;
        letter-spacing: 1rem;
        font-weight: lighter;
    }
    .overview-text-container {
        height: 120px;
        width: 50vw;
        border: 1px solid $color-dark-gray;
        border-radius: 8px;
        padding: 0 1rem;
        text-align: center;
    }
    .quick-overview-contents {
        width: 100%;
        #line {
            position: absolute;
            width: 0;
            left: 30%;
            border-top: 1px solid $color-dark-gray;
            transition: all 0.75s ease;
            transition-delay: 0.3s;
        }
        .active-animation {
            width: 40% !important;
        }
        .overview-container {
            width: 100px;
            height: 100px;
            z-index: 1;
            img {
                width: 64px;
                margin: 1rem;
                border: 1px solid $color-blue;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease;
                background: white;
            }
            .selected-overview,
            img:hover {
                border: 1px solid $color-light-green;
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

.getting-started-container {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-variant-caps: petite-caps;
    text-align: right;
    height: calc(100vh - 64px);
    overflow: hidden;
    background-color: $color-blue;
    .background-row {
        background-image: url('../../../assets/img/house.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 1rem 0 0 1rem;
        width: 100%;
    }
    .grid-item {
        height: calc((100vh - 64px - 32px) / 3); // (100vh - navbar - vertical padding) / #Rows
        padding: 1rem;
        overflow: hidden;
        &:hover {
            h1 {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
            h3 {
                border-top: 1px solid white;
            }
        }
        h1 {
            font-family: Futura, Trebuchet MS, Arial, sans-serif;
            font-size: calc((100vh) / 2 - 1rem);
            font-weight: 400;
            opacity: 0.5;
            width: 0;
            transition: all 0.75s ease;
        }
        h2 {
            font-size: 5rem;
            font-weight: 400;
        }
        h3 {
            border-top: 1px solid transparent;
            z-index: 1;
            letter-spacing: 4px;
            transition: all 0.75s ease;
        }
    }
    .grid-item-number {
        margin-top: 1rem;
    }
    .grid-item-number-1 {
        max-width: inherit !important;
        border-left: 1rem solid $color-blue;
        border-top: 1rem solid $color-blue;
        margin-left: -24px;
        margin-bottom: -1rem;
    }
    #lily-img {
        height: 150px;
        margin-left: 30%;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        transition: all 2s ease;
    }
    .active-animation {
        margin-top: -120px;
    }
}

.home-footer {
    color: white;
    h2 {
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        margin: 0;
        opacity: 0.8;
    }
    a {
        text-decoration: none;
        color: white;
        opacity: 0.6;
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
    .link-icon-container {
        img {
            height: 48px;
            width: 48px;
            cursor: pointer;
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }
    .footer-logo {
        width: 150px !important;
    }
    .footer-top {
        height: 150px;
        background-image: linear-gradient(90deg, rgb(81, 126, 31), rgb(39, 56, 20));
        div {
            min-height: 150px;
        }
    }
}

::-webkit-scrollbar {
    width: 0.75rem;
    @media screen and (max-width: $break-md) {
        width: 0;
        height: 0;
    }
}