@import "../../../../styles.scss";
.add-plant-dialog {
    h2 {
        margin-top: 0;
        font-size: 2rem;
    }
    h3 {
        color: $color-dark-gray;
        margin-bottom: 32px;
    }
    .shift-is-save-to-garden {
        margin-top: -12px;
    }
    .add-plant-scroll-container {
        @media screen and (min-width: $break-sm) {
            height: 352px;
        }
        mat-hint.mat-hint,
        .image-container {
            margin-left: -24px;
            // margin-right: 24px;
            width: 30%;
            display: initial !important;
        }
        .harvest-wrapper {
            margin-left: -33%;
            .toggle,
            mat-hint.mat-hint {
                margin-top: 18px;
            }
            @media screen and (max-width: $break-sm) {
                .toggle-margin-bottom {
                    margin-bottom: 77px;
                }
                .harvest-weeks-input {
                    margin-top: 12px;
                }
            }
        }
        a {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}