<div class="add-plant-dialog" fxLayout="column">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 mat-dialog-title class="page-header">Add New Plant!</h2>
        <mat-icon (click)="closeDialog()" class="close-button">close</mat-icon>
    </div>
    <div class="add-plant-scroll-container">
        <form>
            <div *ngIf="step === 0" class="add-plant-scroll-contents" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Common Name" name="commonName" [(ngModel)]="newPlant.commonName" [required]="newPlant?.botanicalName?.length === 0">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Botanical Name" name="botanicalName" [(ngModel)]="newPlant.botanicalName">
                </mat-form-field>
                <mat-form-field>
                    <mat-select required placeholder="Plant Type" name="type" [(ngModel)]="newPlant.type">
                        <mat-option value="cactus">Cactus</mat-option>
                        <mat-option value="orn">Flower</mat-option>
                        <mat-option value="fruit">Fruit</mat-option>
                        <mat-option value="grain">Grain</mat-option>
                        <mat-option value="grass">Grass</mat-option>
                        <mat-option value="herb">Herb</mat-option>
                        <mat-option value="house">Misc Houseplant</mat-option>
                        <mat-option value="shrub">Shrub</mat-option>
                        <mat-option value="succulent">Succulent</mat-option>
                        <mat-option value="vege">Vegetable</mat-option>
                        <mat-option value="vine">Vine</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select required placeholder="Life Cycle" name="lifeType" [(ngModel)]="newPlant.lifeType">
                        <mat-option value="a">Annual</mat-option>
                        <mat-option value="p">Perennial</mat-option>
                        <mat-option value="b">Biennial</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-hint>Does it produce something to harvest?</mat-hint>
                <div fxFlex="100">
                    <mat-slide-toggle fxFlex="50" [(ngModel)]="newPlant.harvestable" name="harvestable">{{ newPlant.harvestable ? 'Yes' : 'No' }}</mat-slide-toggle>
                    <mat-form-field fxFlex="50" *ngIf="newPlant.harvestable === true">
                        <input matInput type="number" placeholder="Weeks until harvest" name="weeksToHarvest" [(ngModel)]="newPlant.weeksToHarvest" required>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="step === 1" class="add-plant-scroll-contents" fxLayout="column">
                <mat-form-field>
                    <mat-select required placeholder="Sun Schedule" name="sunSchedule" [(ngModel)]="newPlant.sunSchedule">
                        <mat-select-trigger>
                            <span *ngIf="newPlant.sunSchedule === 'fsun'"><mat-icon>brightness_high</mat-icon> Full Sun</span>
                            <span *ngIf="newPlant.sunSchedule === 'psun'"><mat-icon>brightness_low</mat-icon> Partial Sun</span>
                            <span *ngIf="newPlant.sunSchedule === 'psha'"><mat-icon>brightness_medium</mat-icon> Partial Shade</span>
                            <span *ngIf="newPlant.sunSchedule === 'fsha'"><mat-icon>wb_cloudy</mat-icon> Full Shade</span>
                        </mat-select-trigger>
                        <mat-option value="fsun">
                            <mat-icon>brightness_high</mat-icon> Full Sun</mat-option>
                        <mat-option value="psun">
                            <mat-icon>brightness_low</mat-icon> Partial Sun</mat-option>
                        <mat-option value="psha">
                            <mat-icon>brightness_medium</mat-icon> Partial Shade</mat-option>
                        <mat-option value="fsha">
                            <mat-icon>wb_cloudy</mat-icon> Full Shade</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select required placeholder="Plant Stage" name="stage" [(ngModel)]="newPlant.stage">
                        <mat-option value="0">Seed</mat-option>
                        <mat-option value="1">Sproutling</mat-option>
                        <mat-option value="2">Young Plant</mat-option>
                        <mat-option value="3">Mature Plant</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Variety of {{newPlant.commonName ? (newPlant.commonName | titlecase) : (newPlant.botanicalName | titlecase) }}" name="variety" [(ngModel)]="newPlant.variety">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Comment" name="comment" [(ngModel)]="newPlant.comment">
                </mat-form-field>

                <div fxFlex="100" fxLayoutAlign="end center">
                    <a (click)="onNextStep()">Advanced Settings ></a>
                </div>
            </div>

            <div *ngIf="step === 2" class="add-plant-scroll-contents" fxLayout="column">
                <h3>Advanced Settings</h3>
                <mat-form-field>
                    <input matInput type="number" placeholder="# of weeks before last frost date to sow the seeds" name="weeksToSowBeforeLastFrost" [(ngModel)]="newPlant.weeksToSowBeforeLastFrost">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Length of germination period (in weeks)" name="germEnd" [(ngModel)]="newPlant.germEnd">
                </mat-form-field>
            </div>
        </form>
    </div>

    <mat-dialog-actions fxFlex="100" fxLayoutAlign="end center">
        <mat-checkbox [(ngModel)]="isSaveToGarden">Save to Garden</mat-checkbox>

        <button mat-button color="primary" (click)="closeDialog()" *ngIf="step === 0">Cancel</button>
        <button mat-button color="primary" (click)="onPreviousStep()" *ngIf="step !== 0">< Back</button>
        <button mat-raised-button color="primary" (click)="onNextStep()" *ngIf="step !== 1 && step !== 2" [disabled]="(!newPlant.commonName && !newPlant.botanicalName) || !newPlant.type || !newPlant.lifeType || (newPlant.harvestable === true && !newPlant.weeksToHarvest)">Next ></button>
        <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="step === 1 || step === 2" [disabled]="!newPlant.sunSchedule || !newPlant.stage">Submit</button>
    </mat-dialog-actions>
</div>