<mat-icon class="close-dialog-icon" (click)="dialogRef.close()">close</mat-icon>
<div class="add-plant-dialog" fxLayout="column">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="page-header">{{newPlant.commonName ? newPlant.commonName : 'New Plant'}}</h2>
    </div>
    <div class="add-plant-scroll-container">
        <app-image-upload (imageUploadEvent)="onImageUploadEvent($event)" [plantImage]="plantImage ? plantImage : '../../../../assets/icons/add-plant-img.svg'" [imageHeight]="50" class="image-container"></app-image-upload>
        <form fxFlex>
            <div *ngIf="step === 0" fxLayout="column">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Common Name" name="commonName" maxlength="35" [(ngModel)]="newPlant.commonName" [required]="newPlant?.botanicalName?.length === 0" autofocus>
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Botanical Name" name="botanicalName" maxlength="25" [(ngModel)]="newPlant.botanicalName">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <mat-select required placeholder="Plant Type" name="type" [(ngModel)]="newPlant.type">
                        <mat-option value="Houseplant"><img src="../../../../assets/icons/Houseplant.svg" />
                            <div class="option-text">Houseplant</div>
                        </mat-option>
                        <mat-option value="Cactus">
                            <img src="../../../../assets/icons/Cactus.svg" />
                            <div class="option-text">Cactus</div>
                        </mat-option>
                        <mat-option value="Flower"><img src="../../../../assets/icons/Flower.svg" />
                            <div class="option-text">Flower</div>
                        </mat-option>
                        <mat-option value="Fruit"><img src="../../../../assets/icons/Fruit.svg" />
                            <div class="option-text">Fruit</div>
                        </mat-option>
                        <mat-option value="Grain"><img src="../../../../assets/icons/Grain.svg" />
                            <div class="option-text">Grain</div>
                        </mat-option>
                        <mat-option value="Grass"><img src="../../../../assets/icons/Grass.svg" />
                            <div class="option-text">Grass</div>
                        </mat-option>
                        <mat-option value="Herb"><img src="../../../../assets/icons/Herb.svg" />
                            <div class="option-text">Herb</div>
                        </mat-option>
                        <mat-option value="Shrub"><img src="../../../../assets/icons/Shrub.svg" />
                            <div class="option-text">Shrub</div>
                        </mat-option>
                        <mat-option value="Succulent"><img src="../../../../assets/icons/Succulent.svg" />
                            <div class="option-text">Succulent</div>
                        </mat-option>
                        <mat-option value="Tree"><img src="../../../../assets/icons/Tree.svg" />
                            <div class="option-text">Tree</div>
                        </mat-option>
                        <mat-option value="Vegetable"><img src="../../../../assets/icons/Vegetable.svg" />
                            <div class="option-text">Vegetable</div>
                        </mat-option>
                        <mat-option value="Vine"><img src="../../../../assets/icons/Vine.svg" />
                            <div class="option-text">Vine</div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field floatLabel="never">
                    <mat-select required placeholder="Life Cycle" name="lifeType" [(ngModel)]="newPlant.lifeType">
                        <mat-option value="Annual">Annual</mat-option>
                        <mat-option value="Perennial">Perennial</mat-option>
                        <mat-option value="Biennial">Biennial</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="100" class="harvest-wrapper" fxLayout.lt-sm="column">
                    <mat-hint fxFlex="50">Does it produce something to harvest?</mat-hint>
                    <mat-slide-toggle fxFlex="20" [(ngModel)]="newPlant.harvestable" name="harvestable" class="toggle" [class.toggle-margin-bottom]="newPlant.harvestable === false" matRippleDisabled>{{ newPlant.harvestable ? 'Yes' : 'No' }}</mat-slide-toggle>
                    <mat-form-field fxFlex="30" *ngIf="newPlant.harvestable === true" class="harvest-weeks-input" floatLabel="never">
                        <input matInput type="number" placeholder="Weeks until harvest" name="weeksToHarvest" [(ngModel)]="newPlant.weeksToHarvest" required>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="step === 1" fxLayout="column" [class.shift-is-save-to-garden]="isSaveToGarden">
                <mat-form-field floatLabel="never">
                    <mat-select required placeholder="Sun Schedule" name="sunSchedule" [(ngModel)]="newPlant.sunSchedule">
                        <mat-select-trigger>
                            <span *ngIf="newPlant.sunSchedule === 'Full Sun'"><mat-icon>brightness_high</mat-icon> Full Sun</span>
                            <span *ngIf="newPlant.sunSchedule === 'Partial Sun'"><mat-icon>brightness_low</mat-icon> Partial Sun</span>
                            <span *ngIf="newPlant.sunSchedule === 'Partial Shade'"><mat-icon>brightness_medium</mat-icon> Partial Shade</span>
                            <span *ngIf="newPlant.sunSchedule === 'Full Shade'"><mat-icon>wb_cloudy</mat-icon> Full Shade</span>
                        </mat-select-trigger>
                        <mat-option value="Full Sun">
                            <mat-icon>brightness_high</mat-icon>Full Sun
                        </mat-option>
                        <mat-option value="Partial Sun">
                            <mat-icon>brightness_low</mat-icon>Partial Sun
                        </mat-option>
                        <mat-option value="Partial Shade">
                            <mat-icon>brightness_medium</mat-icon>Partial Shade
                        </mat-option>
                        <mat-option value="Full Shade">
                            <mat-icon>wb_cloudy</mat-icon>Full Shade
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="isSaveToGarden" floatLabel="never">
                    <mat-select required placeholder="Plant Stage" name="stage" [(ngModel)]="newPlant.stage">
                        <mat-option value="0"><img src="../../../../assets/icons/plant-stage/stage0.svg" />
                            <div class="option-text">Seed</div>
                        </mat-option>
                        <mat-option value="1"><img src="../../../../assets/icons/plant-stage/stage1.svg" />
                            <div class="option-text">Sproutling</div>
                        </mat-option>
                        <mat-option value="2"><img src="../../../../assets/icons/plant-stage/stage2.svg" />
                            <div class="option-text">Young Plant</div>
                        </mat-option>
                        <mat-option value="3"><img src="../../../../assets/icons/{{newPlant.type}}.svg" />
                            <div class="option-text">Mature Plant</div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="isSaveToGarden && newPlant.stage > 0" floatLabel="never">
                    <mat-select placeholder="Potted / In Ground" name="isPotted" [(ngModel)]="newPlant.isPotted" required>
                        <mat-option value="true">Potted</mat-option>
                        <mat-option value="false">In Ground</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Variety of {{newPlant.commonName ? (newPlant.commonName | titlecase) : (newPlant.botanicalName | titlecase) }}" name="variety" [(ngModel)]="newPlant.variety">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Comment" name="comment" [(ngModel)]="newPlant.comment">
                </mat-form-field>

                <div fxFlex="100" fxLayoutAlign="end center">
                    <a (click)="onNextStep()">Advanced Settings ></a>
                </div>
                <div>


                </div>
            </div>

            <div *ngIf="step === 2" fxLayout="column">
                <h3>Advanced Settings</h3>
                <mat-form-field floatLabel="never">
                    <input matInput type="number" placeholder="Sowing Depth (in inches)" name="depth" [(ngModel)]="newPlant.depth">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput type="number" placeholder="Sowing Distance (in inches)" name="space" [(ngModel)]="newPlant.sowingSpace">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput type="number" placeholder="# of weeks before last frost date to sow the seeds" name="weeksToSowBeforeLastFrost" [(ngModel)]="newPlant.weeksToSowBeforeLastFrost">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input matInput type="number" placeholder="Length of germination period (in weeks)" name="germEnd" [(ngModel)]="newPlant.germEnd">
                </mat-form-field>
            </div>
        </form>
    </div>

    <mat-dialog-actions fxFlex="100" fxLayoutAlign="end center">
        <mat-checkbox [(ngModel)]="isSaveToGarden" (change)="isSaveToGarden === true && newPlant.stage = null">Save to Garden</mat-checkbox>

        <button mat-button color="primary" (click)="dialogRef.close()" *ngIf="step === 0">Cancel</button>
        <button mat-button color="primary" (click)="onPreviousStep()" *ngIf="step !== 0">< Back</button>
        <button mat-raised-button color="primary" (click)="onNextStep()" *ngIf="step !== 1 && step !== 2" [disabled]="(!newPlant.commonName && !newPlant.botanicalName) || !newPlant.type || !newPlant.lifeType || (newPlant.harvestable === true && !newPlant.weeksToHarvest)">Next ></button>
        <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="step === 1 || step === 2" [disabled]="!newPlant.sunSchedule || (this.isSaveToGarden && !this.newPlant.stage) ||
        (this.isSaveToGarden && newPlant.stage > 0 && newPlant.isPotted === undefined)">Submit</button>
    </mat-dialog-actions>
</div>