@import "../../../../styles.scss";
.add-plant-dialog {
    h2 {
        font-size: 2rem;
    }
    .add-plant-scroll-container {
        height: 326px;
        mat-hint.mat-hint,
        .toggle {
            margin-top: 18px;
        }
    }
}