@import "../../../styles.scss";
.plant-grid-item {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding: 1rem;
    &:hover {
        border-left: 4px solid $color-light-green;
        border-right: 4px solid $color-light-green;
        background: rgba(217, 217, 217, 0.2);
    }
    h3 {
        color: $color-dark-gray;
        letter-spacing: 0.125rem; //2px
    }
    h5 {
        color: $color-blue;
        letter-spacing: 0.0625rem; //1px
        font-style: italic;
    }
    .plant-name-details {
        cursor: pointer;
    }
}

.add-plant-button {
    color: #ffffff;
    position: fixed;
    bottom: 1rem;
    right: 16%;
    height: 7rem;
    width: 7rem;
    &:hover {
        mat-icon.mat-icon {
            opacity: 1;
        }
    }
    mat-icon.mat-icon {
        font-size: 7rem;
        margin-top: -1rem;
        opacity: 0.8;
        width: 7rem;
        height: 7rem;
    }
}

.search-warning {
    font-size: 6rem;
    color: $color-dark-gray;
    opacity: 0.3;
    margin: 3rem 0;
    letter-spacing: 6px;
}

.plant-icon {
    height: 64px;
    width: 64px;
}