<mat-sidenav-container (backdropClick)="onCancelFilters()">
    <mat-sidenav #sidenav class="sidenav-container" (keydown.escape)="onCancelFilters()" fixedInViewport>

        <div class="filter-border" fxLayout="column">
            <div class="filter-header-wrapper" fxFlex fxLayoutAlign="center">
                <div class="filter-header">Plant Type</div>
            </div>
            <ul fxLayout="row wrap" fxLayoutAlign="space-between start">
                <li class="filter-item" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="deselectAllFilters('plantType')">
                    <img src="../../../assets/icons/remove.svg" class="remove-icon" />
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">Clear Filters</div>
                </li>
                <li class="filter-item" [class.filter-item-selected]="plantType.isActive" *ngFor="let plantType of plantTypeFilters" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="plantType.isActive = !plantType.isActive">
                    <img src="../../../assets/icons/{{plantType.value}}.svg" />
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">{{plantType.value}}</div>
                    <mat-icon class="checkmark-icon" *ngIf="plantType.isActive">check</mat-icon>
                </li>
            </ul>
        </div>

        <div class="filter-border" fxLayout="column">
            <div class="filter-header-wrapper" fxFlex fxLayoutAlign="center">
                <div class="filter-header">Sun Schedule</div>
            </div>
            <ul fxLayout="row wrap" fxLayoutAlign="space-between start">
                <li class="filter-item" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="deselectAllFilters('sunSchedule')">
                    <img src="../../../assets/icons/remove.svg" class="remove-icon" />
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">Clear Filters</div>
                </li>
                <li class="filter-item" [class.filter-item-selected]="sunSchedule.isActive" *ngFor="let sunSchedule of sunScheduleFilters" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="sunSchedule.isActive = !sunSchedule.isActive">
                    <mat-icon *ngIf="sunSchedule.value === 'Full Sun'">brightness_high</mat-icon>
                    <mat-icon *ngIf="sunSchedule.value === 'Partial Sun'">brightness_low</mat-icon>
                    <mat-icon *ngIf="sunSchedule.value === 'Partial Shade'">brightness_medium</mat-icon>
                    <mat-icon *ngIf="sunSchedule.value === 'Full Shade'">wb_cloudy</mat-icon>
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">{{sunSchedule.value}}</div>
                    <mat-icon class="checkmark-icon" *ngIf="sunSchedule.isActive">check</mat-icon>
                </li>
            </ul>
        </div>

        <div class="filter-border" fxLayout="column">
            <div class="filter-header-wrapper" fxFlex fxLayoutAlign="center">
                <div class="filter-header">Life Cycle</div>
            </div>
            <ul fxLayout="row wrap" fxLayoutAlign="space-between start">
                <li class="filter-item" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="deselectAllFilters('lifeCycle')">
                    <img src="../../../assets/icons/remove.svg" class="remove-icon" />
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">Clear Filters</div>
                </li>
                <li class="filter-item" [class.filter-item-selected]="lifeCycle.isActive" *ngFor="let lifeCycle of lifeCycleFilters" fxFlex.gt-sm="30" fxFlex.lt-md="48" (click)="lifeCycle.isActive = !lifeCycle.isActive">
                    <div class="letter-icon" *ngIf="lifeCycle.value === 'Annual'">A</div>
                    <div class="letter-icon" *ngIf="lifeCycle.value === 'Biennial'">B</div>
                    <div class="letter-icon" *ngIf="lifeCycle.value === 'Perennial'">P</div>
                    <div class="filter-text" fxFlex fxLayoutAlign="end center">{{lifeCycle.value}}</div>
                    <mat-icon class="checkmark-icon" *ngIf="lifeCycle.isActive">check</mat-icon>
                </li>
            </ul>
        </div>

        <div class="footer-button-wrapper" fxLayoutAlign="end">
            <button mat-stroked-button color="primary" (click)="onCancelFilters()" tabindex="-1">Cancel</button>
            <button mat-flat-button color="primary" (click)="applyFilters()" tabindex="-1">Apply</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div fxLayout="column" class="sidenav-contents">
            <div fxFlex="100" fxLayoutAlign="center">
                <h2 class="page-header">Search</h2>
            </div>

            <mat-chip-list fxLayoutAlign="center center">
                <mat-chip *ngFor="let filter of activeFilters" color="accent" selected>
                    <mat-icon (click)="removeFilter(filter)">close</mat-icon>
                    {{filter.value}}
                </mat-chip>
            </mat-chip-list>

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
                <div class="filter-icon-wrapper" (click)="sidenav.open()">
                    <img src="../../../assets/icons/filter.svg">
                </div>
                <mat-form-field fxFlex="55">
                    <input matInput type="search" placeholder="Plant Name" [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" (keyup.tab)="onSearch()" />
                </mat-form-field>
                <mat-radio-group class="example-radio-group " [(ngModel)]="searchBy " fxLayout="column " matRippleDisabled>
                    <mat-radio-button class="example-radio-button " *ngFor="let name of [ 'commonName', 'botanicalName'] " [value]="name " (change)="searchTerm.length > 0 && onSearch() " matRippleDisabled>
                        {{name === 'botanicalName' ? 'Botanical Name' : 'Common Name'}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <button mat-flat-button color="warn" (click)="openAddPlantDialog()" fxFlex="100" *ngIf="authService.isLoggedIn()" class="add-plant-button">
                Add plant to Dig-It
            </button>

            <div *ngIf="!visiblePlants || searchTerm.length === 0" class="search-warning ">Enter a search term</div>

            <div fxLayout="column " *ngIf="searchTerm.length > 0 && visiblePlants?.length === 0">
                <h2 class="search-warning">No Plants Found</h2>
            </div>

            <div *ngIf="visiblePlants?.length > 0" fxLayout="column">

                <div class="plant-grid-item" *ngFor="let index = index; let plant of visiblePlants">
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="plant-icon">
                            <img src="{{'../../../assets/icons/' + plant.type + '.svg'}}" />
                        </div>
                    </div>
                    <div class="plant-name-details" fxLayout="column" fxFlex="60" fxLayoutAlign="center end" (click)="openPlantDetailsDialog(plant)" *ngIf="isAddToGardenMenuVisible === false || activeGardenMenuIndex !== index || plant.stage === 0">
                        <h3>{{plant.commonName ? plant.commonName : plant.botanicalName}}</h3>
                        <h5>{{plant.botanicalName ? plant.botanicalName : ''}}</h5>
                    </div>
                    <div *ngIf="isAddToGardenMenuVisible === true && activeGardenMenuIndex === index" fxFlex="60" fxLayoutAlign="end center">
                        <mat-form-field *ngIf="plant.stage > 0" class="resize-select-menu">
                            <mat-select placeholder="Potted / In Ground" name="isPotted" [(ngModel)]="plant.isPotted" required>
                                <mat-option value="true">Potted</mat-option>
                                <mat-option value="false">In Ground</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="40" fxLayout="row" fxLayoutAlign="end center">
                        <div *ngIf="isAddToGardenMenuVisible === true && activeGardenMenuIndex === index" fxFlex="60" fxLayoutAlign="center center" fxLayout="column">
                            <mat-form-field class="resize-select-menu">
                                <mat-select placeholder="Plant Stage" name="stage" [(ngModel)]="plant.stage" required>
                                    <mat-option value="0">Seed</mat-option>
                                    <mat-option value="1">Sproutling</mat-option>
                                    <mat-option value="2">Young Plant</mat-option>
                                    <mat-option value="3">Mature Plant</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column">
                            <button mat-flat-button color="accent" *ngIf="authService.isLoggedIn() && (!isAddToGardenMenuVisible || activeGardenMenuIndex !== index)" (click)="toggleAddToGardenMenu(index);"><mat-icon>add</mat-icon></button>
                            <button mat-stroked-button color="accent" *ngIf="isAddToGardenMenuVisible === true && activeGardenMenuIndex === index" (click)="isAddToGardenMenuVisible = false;">Cancel</button>
                            <button mat-flat-button color="primary" *ngIf="isAddToGardenMenuVisible === true && activeGardenMenuIndex === index" (click)="addToGarden(plant)" [disabled]="(plant.stage === 0 && plant.isPotted === undefined) || !plant.stage">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>