<div fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="center">
        <h2 class="page-header">Search</h2>
    </div>



    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="50">
            <input matInput type="search" placeholder="Search" [(ngModel)]="searchTerm" (keyup.enter)="onSearch() " (keyup.tab)="onSearch() " (blur)="onSearch() " />
        </mat-form-field>
        <mat-radio-group class="example-radio-group " [(ngModel)]="searchBy " fxLayout="column ">
            <mat-radio-button class="example-radio-button " *ngFor="let name of [ 'commonName', 'botanicalName'] " [value]="name " (click)="onSearch() ">
                {{name === 'botanicalName' ? 'Botanical Name' : 'Common Name'}}
            </mat-radio-button>
        </mat-radio-group>
    </div>


    <div *ngIf="!visiblePlants " class="search-warning ">Enter a search term to begin</div>

    <div fxLayout="column " *ngIf="searchTerm.length> 0 && visiblePlants?.length === 0">
        <h2 class="search-warning">No Plants Found</h2>
    </div>

    <div *ngIf="visiblePlants?.length > 0" fxLayout="column">

        <div class="plant-grid-item" *ngFor="let plant of visiblePlants" (click)="openPlantDetailsDialog(plant)">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <div class="plant-icon">
                    <img src="../../../assets/icons/reminders/repot.svg" />
                </div>
            </div>
            <div class="plant-name-details" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
                <h3>{{plant.commonName ? plant.commonName : plant.botanicalName}}</h3>
                <h5>{{plant.botanicalName ? plant.botanicalName : ''}}</h5>
            </div>
            <button mat-fab (click)="addToGarden(plant)"><mat-icon>add</mat-icon></button>
        </div>

    </div>

    <div fxLayout="row" *ngIf="authService.isLoggedIn()">
        <button mat-fab color="warn" (click)="openAddPlantDialog()" class="add-plant-button">
          <mat-icon>add</mat-icon>
        </button>
    </div>
</div>