@import "../../../styles.scss";
.add-plant-button {
    background: $color-red;
    color: white;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    letter-spacing: 4px;
}

.search-warning {
    font-size: 6rem;
    color: $color-dark-gray;
    opacity: 0.3;
    margin: 3rem 0;
    text-align: right;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    letter-spacing: 6px;
}