@import "../../../styles.scss";
.plant-grid-item {
    height: 150px;
    width: 200px;
    padding: 0;
    margin: 16px 16px;
    border-bottom: 4px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 4px solid $color-light-green;
    }
    .plant-icon {
        height: 60px;
        width: 60px;
        opacity: 0.8;
        img {
            width: 100%;
        }
    }
    .reminders-container {
        background-color: $color-blue;
        .reminder-icon-wrapper {
            border-radius: 50%;
            width: 36px;
            height: 36px;
            margin-left: 8px;
            .reminders-icon {
                height: 24px;
                width: 24px;
                cursor: pointer;
                margin-left: 6px;
                margin-top: 6px;
            }
        }
    }
    .plant-name-details {
        cursor: pointer;
        h4 {
            letter-spacing: 4px;
            color: $color-dark-gray;
            text-align: center;
        }
        h5 {
            letter-spacing: 2px;
            font-style: italic;
            color: $color-blue;
            opacity: 0.5;
            text-align: center;
        }
    }
    .settings-icon-container {
        text-align: right;
        width: 100%;
        .settings-icon {
            color: $color-light-gray;
            cursor: pointer;
            position: absolute;
            margin-top: -24px;
            margin-left: calc(100% - 1.3rem - 4px);
            font-size: 1.3rem;
            height: 1.3rem;
            width: 1.3rem;
            &:hover {
                -webkit-transition: -webkit-transform .5s ease-in-out;
                transition: transform .5s ease-in-out;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

/deep/ .mat-menu-panel {
    background: transparent;
    max-width: 50px;
    min-width: 0;
    box-shadow: none;
    padding-left: 14px;
    margin-left: 14px;
    margin-top: -42px;
    .mat-menu-item {
        background: $color-dark-gray;
        border-radius: 50%;
        padding: 0;
        height: 24px;
        width: 24px;
        margin-bottom: 0.5rem;
        &:hover {
            background-color: $color-dark-gray !important;
            -webkit-box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.3);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
        mat-icon.mat-icon {
            color: white !important;
            font-size: 16px;
            position: absolute;
            margin-top: -8px;
            margin-left: 4px;
            &:hover {
                color: $color-red !important;
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: $break-sm) {
    .plant-grid-item {
        height: 100px;
        width: 100%;
        border-bottom: 4px solid $color-light-green;
        margin: 0;
        .plant-icon {
            height: 72px;
            width: 72px;
        }
        .reminders-icon-container {
            margin-top: 8px;
            margin-right: 8px;
            .reminders-icon {
                height: 36px !important;
                width: 36px !important;
            }
        }
    }
}