@import "../../../styles.scss";
.garden-wrapper {
    background-color: white;
}

.no-plants-warning {
    font-size: 4rem;
    color: $color-dark-gray;
    margin: 3rem;
    letter-spacing: 4px;
    font-variant: petite-caps;
    .warning-opacity {
        opacity: 0.3;
    }
}

.no-plants-arrow-icon {
    color: $color-red;
    position: absolute;
    top: 0px;
    font-size: 32px;
    left: calc(50% - 38px);
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
}