<div fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="center">
        <h2 class="page-header">My Garden</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <mat-card class="plant-grid-item" *ngFor="let plant of userPlants" fxLayout="column" (click)="openPlantDetailsDialog(plant)">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <div class="plant-icon">
                    <img src="{{ '../../../assets/icons/plant-stage/stage' + plant.stage + '.svg' }}" />
                </div>
                <div class="reminders-icon-container" fxLayout="row">
                    <div *ngFor="let reminder of plant?.reminders" title="Click to mark Done" (click)="$event.stopPropagation(); markReminderDone(plant, reminder)">
                        <img src="{{ '../../../assets/icons/reminders/' + reminder + '.svg' }}" class="reminders-icon" />
                    </div>
                </div>
            </div>
            <div class="plant-name-details" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
                <h4>{{plant.commonName ? plant.commonName : plant.botanicalName}}</h4>
                <h5>{{plant.botanicalName ? plant.botanicalName : ''}}</h5>
            </div>
        </mat-card>
    </div>
</div>