<h1>Register</h1>
<mat-form-field>
    <input matInput type="text" name="name" placeholder="Your name" [(ngModel)]="credentials.name" required>
</mat-form-field>
<mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="credentials.email" required>
</mat-form-field>
<mat-form-field>
    <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
</mat-form-field>
<mat-form-field>
    <input matInput type="text" name="phone" placeholder="Phone Number" [(ngModel)]="credentials.phone" required>
</mat-form-field>
<mat-form-field>
    <input matInput type="text" name="zip" placeholder="ZIP code" [(ngModel)]="credentials.zip" required>
</mat-form-field>
<button mat-raised-button type="submit" (click)="register()">Register!</button>