<div class="body-wrapper">
    <mat-toolbar class="navbar">
        <ul fxLayoutAlign="space-between center" fxLayout="row">
            <li class="navbar-items" (click)="setCurrentPage('home')">
                <img src="../assets/logo/dig-it-text.svg" [hidden]="currentPage === 'home'" />
            </li>
            <li class="navbar-items navbar-center-item" (click)="setCurrentPage('search')">
                <div *ngIf="authService.isLoggedIn()" fxLayout="row">
                    <mat-icon>add</mat-icon>
                    <p> Add Plant</p>
                </div>
                <div *ngIf="!authService.isLoggedIn()" fxLayout="row">
                    <mat-icon>search</mat-icon>
                    <p> Search Plants</p>
                </div>
            </li>
            <li class="navbar-items">
                <div *ngIf="!authService.isLoggedIn()" class="user-button-wrapper">
                    <button mat-raised-button color="accent" (click)="openLoginDialog()">Login / Register</button>
                </div>
                <mat-icon *ngIf="authService.isLoggedIn()" class="settings-icon" (click)="openEditProfileDialog()">settings</mat-icon>
            </li>
        </ul>
    </mat-toolbar>

    <div fxFlexFill fxLayoutAlign="center" class="page-content-wrapper">
        <mat-card fxLayout="column" fxFlex="100" class="page-content" [class.page-content-home]="currentPage === 'home'">
            <app-reminders *ngIf="authService.isLoggedIn() && user && currentPage !== 'home'" [user]="user" (markReminderDoneEvent)="onMarkReminderDoneEvent($event)" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-reminders>

            <app-home *ngIf="currentPage === 'home'"></app-home>
            <app-search *ngIf="currentPage === 'search'" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-search>
            <app-garden *ngIf="currentPage === 'garden'" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-garden>

        </mat-card>
    </div>
</div>