<div class="body-wrapper" [class.home-body-wrapper]="currentPage === 'home'">
    <app-navbar [currentPage]="currentPage" [user]="user" (setCurrentPageEvent)="setCurrentPage($event)"></app-navbar>

    <div fxFlexFill fxLayoutAlign="center" class="page-content-wrapper">
        <mat-card fxLayout="column" fxFlex="100" class="page-content" [class.page-content-home]="currentPage === 'home'">
            <app-reminders *ngIf="authService.isLoggedIn() && user && currentPage !== 'home'" [user]="user" [plantsWithActiveReminders]="plantsWithActiveReminders" (markReminderDoneEvent)="onMarkReminderDoneEvent($event)" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-reminders>

            <app-home *ngIf="currentPage === 'home'"></app-home>
            <app-search *ngIf="currentPage === 'search'" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-search>
            <app-garden *ngIf="currentPage === 'garden'" (openPlantDetailsDialogEvent)="openPlantDetailsDialog($event)"></app-garden>

        </mat-card>
    </div>
</div>