@import "../styles.scss";
.home-body-wrapper {
    background-image: url('../assets/img/pixel-bg.svg') !important;
    background-size: 100% !important;
}

.body-wrapper {
    height: 100vh;
    background: linear-gradient(135deg, white 10%, $color-light-gray);
    .page-content-wrapper {
        padding-bottom: 22px;
        .page-content {
            background: transparent;
            overflow-y: auto;
            max-height: calc(100% - 32px);
            box-shadow: none;
            padding: 0 15% 1rem 15%;
            @media screen and (max-width: $break-sm) {
                padding: 3rem 0 0 0;
            }
        }
        .page-content-home {
            padding: 4rem 0 0 0;
            background: linear-gradient(150deg, white, rgba(255, 255, 255, 0.1));
            box-shadow: none;
            overflow-x: hidden;
        }
    }
}