@import "../../../styles.scss";
.page-tab-container {
    .page-tab {
        cursor: pointer;
        padding: 1rem 3rem 1rem 3rem;
        margin-bottom: 2rem;
        letter-spacing: 2px;
        &:hover {
            background: $color-light-gray;
        }
    }
    .page-tab-active {
        color: $color-red;
    }
    .page-tab-login {
        border-right: 3px solid $color-light-green;
    }
}

.form-wrapper {
    margin-top: -1rem;
    .header {
        font-size: 1.5rem;
        color: $color-dark-gray;
        margin-bottom: 1rem;
        letter-spacing: 4px;
    }
    .demo-login-button-wrapper {
        height: 80%;
        #demo-user-button {
            margin-bottom: 1rem;
        }
        button {
            width: 100%;
        }
    }
}

.login-image-container {
    height: 290px;
    img {
        margin-left: -68px;
        height: 100%;
        @media screen and (max-width: $break-sm) {
            margin-left: -106px;
            height: 85%;
            margin-top: 41px;
        }
    }
}