<div fxLayout="column">
    <mat-form-field>
        <mat-select placeholder="Plant Stage" name="stage" [(ngModel)]="stage" required>
            <mat-option value="0"><img src="../../../../assets/icons/plant-stage/stage0.svg" />
                <div class="option-text">Seed</div>
            </mat-option>
            <mat-option value="1"><img src="../../../../assets/icons/plant-stage/stage1.svg" />
                <div class="option-text">Sproutling</div>
            </mat-option>
            <mat-option value="2"><img src="../../../../assets/icons/plant-stage/stage2.svg" />
                <div class="option-text">Young Plant</div>
            </mat-option>
            <mat-option value="3"><img src="../../../../assets/icons/Houseplant.svg" />
                <div class="option-text">Mature Plant</div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="stage > 0">
        <mat-select placeholder="Potted / In Ground" name="isPotted" [(ngModel)]="isPotted" required>
            <mat-option value="true">Potted</mat-option>
            <mat-option value="false">In Ground</mat-option>
        </mat-select>
    </mat-form-field>

    <div fxFlex fxLayoutAlign="end center">
        <button mat-stroked-button color="accent" (click)="dialogRef.close();">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="(stage === 0 && isPotted === undefined) || !stage">Submit</button>
    </div>
</div>