<mat-toolbar class="navbar">
    <ul fxLayoutAlign="space-between center" fxLayout="row">
        <li class="navbar-items" (click)="setCurrentPage('home')">
            <img src="../../../assets/logo/dig-it-text.svg" />
        </li>

        <li class="navbar-items navbar-center-item" (click)="setCurrentPage('garden')">
            <div *ngIf="authService.isLoggedIn()" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
                <mat-icon [class.active-page]="currentPage === 'garden'">spa</mat-icon>
                <p> My Garden</p>
            </div>
        </li>

        <li class="navbar-items navbar-center-item navbar-center-margin" (click)="setCurrentPage('search')">
            <div *ngIf="authService.isLoggedIn()" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
                <mat-icon [class.active-page]="currentPage === 'search'"><b>add</b></mat-icon>
                <p> Add Plant</p>
            </div>
            <div *ngIf="!authService.isLoggedIn()" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
                <mat-icon [class.active-page]="currentPage === 'search'">search</mat-icon>
                <p> Search Plants</p>
            </div>
        </li>
        <li class="navbar-items">
            <div *ngIf="!authService.isLoggedIn()">
                <button mat-raised-button color="accent" (click)="openLoginDialog()" class="login-button">Log in / Register</button>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="settingsMenu" *ngIf="authService.isLoggedIn()">
              <mat-icon class="menu-icon">menu</mat-icon>
            </button>

            <mat-menu #settingsMenu="matMenu">
                <button mat-menu-item (click)="openEditProfileDialog()">
                <mat-icon>person_outline</mat-icon>
                <span>Account Settings</span>
              </button>
                <button mat-menu-item disabled>
                <mat-icon>settings_input_component</mat-icon>
                <span>Preferences</span>
              </button>
                <button mat-menu-item disabled>
                <mat-icon>help_outline</mat-icon>
                <span>About / Help</span>
              </button>
                <button mat-menu-item (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log Out</span>
              </button>
            </mat-menu>
        </li>
    </ul>
</mat-toolbar>