<mat-icon class="close-dialog-icon" fxHide.lt-sm (click)="dialogRef.close()">close</mat-icon>
<div class="plant-details-dialog" fxLayout="column">
    <div class="add-plant-header" fxLayout.lt-sm="column">
        <img *ngIf="plant.img" src="{{plant.img}}" class="image-found" />
        <img *ngIf="!plant.img" src="{{'../../../assets/icons/' + plant.type + '.svg'}}" />
        <mat-icon class="close-dialog-icon" (click)="dialogRef.close()" fxHide.gt-sm>close</mat-icon>

        <div fxFlex="100" fxLayoutAlign="center" fxLayout="column">
            <h1>{{ plant.commonName ? plant.commonName : plant.botanicalName }}</h1>
            <h2>{{plant.commonName ? plant.botanicalName : '' }}</h2>
            <h4>{{toSentenceCase(plant.variety)}}</h4>
        </div>
    </div>

    <div class="plant-details-container" fxLayout="column">
        <!-- General Details -->
        <div *ngIf="step === 1" fxLayout="column">
            <table *ngIf="plant.lifeType || plant.type || plant.sunSchedule">
                <tr *ngIf="plant.lifeType || plant.type">
                    <td *ngIf="plant.type" fxLayout="row" fxFlex>
                        <h3 class="highlight">{{plant.type}}</h3>
                    </td>
                    <td *ngIf="plant.lifeType" fxLayout="row" fxFlex>
                        <h3 class="highlight">{{plant.lifeType}}</h3>
                        <mat-icon class="info-icon" [matTooltip]="getTooltipText('lifeType', plant.lifeType)" matTooltipClass="dig-it-tooltip" #tooltip="matTooltip" (click)="tooltip.toggle()">help_outline</mat-icon>
                    </td>
                </tr>

                <tr *ngIf="plant.sunSchedule">
                    <td fxLayout="row" fxFlex="100">
                        <h3 class="highlight">{{plant.sunSchedule}}</h3>
                        <mat-icon class="info-icon" [matTooltip]="getTooltipText('sunSchedule', plant.sunSchedule)" matTooltipClass="dig-it-tooltip" #tooltip="matTooltip" (click)="tooltip.toggle()">help_outline</mat-icon>
                    </td>
                </tr>
            </table>
            <div *ngIf="plant.harvestable && plant.weeksToHarvest">Approx. harvest date:
                <mat-icon class="info-icon harvest-info-icon" [matTooltip]="getTooltipText('harvestDate')" matTooltipClass="dig-it-tooltip" #tooltip="matTooltip" (click)="tooltip.toggle()">help_outline</mat-icon>
                <span class="highlight">{{reminderService.getHarvestDateString(user, plant)}}</span>
            </div>
            <div *ngIf="plant.zones">
                <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Grows well in zones <span class="highlight">{{plant.zones}}</span></div>
            <div *ngIf="plant.comment" fxLayout.lt-sm="column">
                <div fxFlex="30" class="highlight">Comments: </div>
                <div fxFlex>{{toSentenceCase(plant.comment)}}</div>
            </div>

            <!-- Sowing Details -->
            <div *ngIf="!plant.comment">
                <div *ngIf="plant.methodNum">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon>
                    {{dataService.getSowingMethodString(plant.methodNum)}}
                </div>
                <div *ngIf="plant.depth || plant.sowingSpace">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Seeds should be sown
                    <span class="highlight" *ngIf="plant.depth">{{plant.depth}} inches deep </span>
                    <span *ngIf="plant.depth && plant.sowingSpace">and </span>
                    <span class="highlight" *ngIf="plant.sowingSpace">{{plant.sowingSpace}} inches apart</span>.
                </div>
            </div>
        </div>

        <div *ngIf="step === 2" fxLayout="column" class="slider-container">
            <h3>Upcoming Reminders</h3>
            <div fxLayout="{{plant.reminders.length < 3 ? 'column wrap' : 'row wrap'}}">
                <ng-container *ngFor="let reminder of plant?.reminders">
                    <div *ngIf="reminder.date >= today" class="reminder-list-item" fxLayout="row" fxFlex="50">
                        <time class="calendar-icon">
                            <em>{{getReminderDateElement(reminder, 'year')}}</em>
                            <strong>{{getReminderDateElement(reminder, 'month')}}</strong>
                            <span>{{getReminderDateElement(reminder, 'day')}}</span>
                        </time>
                        <div class="reminder-text" fxLayout="center center">
                            {{reminder.name | titlecase}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div *ngIf="step === 3" fxLayout="column" class="slider-container">
            <h3>Sowing Instructions</h3>
            <div *ngIf="plant.comment">
                <div *ngIf="plant.methodNum">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon>
                    {{dataService.getSowingMethodString(plant.methodNum)}}
                </div>
                <div *ngIf="plant.depth || plant.sowingSpace">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Seeds should be sown
                    <span class="highlight" *ngIf="plant.depth">{{plant.depth}} inches deep </span>
                    <span *ngIf="plant.depth && plant.sowingSpace">and </span>
                    <span class="highlight" *ngIf="plant.sowingSpace">{{plant.sowingSpace}} inches apart</span>.
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions fxFlex="100" fxLayoutAlign="end center">
        <button mat-button color="accent" (click)="dialogRef.close()" *ngIf="step === 1 && step !== maxSteps">Close</button>
        <button mat-raised-button color="accent" (click)="onPreviousStep()" *ngIf="step - 1 >= 1">< Back</button>
        <button mat-raised-button color="primary" (click)="onNextStep()" *ngIf="step + 1 <= maxSteps">Next ></button>
        <button mat-button color="primary" (click)="dialogRef.close()" *ngIf="step === maxSteps || (maxSteps === 2 && !plant.reminders)">Close</button>
    </mat-dialog-actions>
</div>