@import "../../../styles.scss";
.close-dialog-icon {
    cursor: pointer;
    width: 0;
    position: relative;
    right: 16px;
    top: -12px;
}

.plant-details-dialog-wrapper {
    height: 100%;
}

.plant-details-dialog {
    .info-icon {
        top: 0.25rem;
    }
    .add-plant-header {
        margin-top: -24px;
        @media screen and (min-width: $break-sm) {
            height: 300px;
            .header-image-wrapper {
                width: 400px !important;
            }
            .header-plant-details {
                margin-left: 24px;
                width: 252px;
            }
        }
        .header-image-wrapper {
            width: calc(100% + 48px);
            margin-left: -24px;
            overflow: hidden;
            // min-height: 300px;
            img {
                width: 400px;
                margin: 6px 24px 24px 0px;
            }
        }
        .header-plant-details {
            border-bottom: 1px solid #dcdcdc;
            h1 {
                color: $color-dark-gray;
                letter-spacing: 0.25rem;
                font-variant: petite-caps;
                font-size: 2.5rem;
                font-weight: lighter;
                max-height: 120px;
                overflow: hidden;
                line-height: 2.5rem;
                text-overflow: ellipsis;
                width: 258px;
            }
            h4 {
                font-style: italic;
                opacity: 0.6;
            }
            table {
                border-collapse: collapse;
                margin-top: 1rem;
                tr {
                    margin-bottom: 0.5rem;
                    td {
                        border-left: 1px solid $color-light-gray;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    .plant-details-container {
        padding-top: 1rem;
        font-size: 1.25rem;
        height: 144px;
        .highlight {
            color: $color-red;
        }
        .slider-container {
            h3 {
                text-align: center;
                opacity: 0.6;
                letter-spacing: 4px;
                font-variant: petite-caps;
            }
            .reminder-carousel-wrapper {
                overflow: hidden;
                margin-left: 114px;
                transition: .3s ease-in;
            }
        }
        .bullet-icon {
            color: $color-red;
            position: relative;
            top: 0.25rem;
        }
    }
    .reminder-list-item-scroller {
        cursor: pointer;
        opacity: 0.4;
        min-width: 162px !important;
        &:hover {
            opacity: 0.8;
            transition: 0.3s ease;
        }
    }
    .reminder-list-item {
        min-width: 256px;
        height: 90px;
        .calendar-icon {
            font-size: .7em;
            margin-top: 16px;
            margin-right: 16px;
            display: block;
            position: relative;
            width: 3.5em;
            height: 4em;
            background-color: #fff;
            border-radius: 0.6em;
            box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 0 0 1px #bdbdbd;
            overflow: hidden;
            span {
                font-size: 1.8em;
                letter-spacing: -0.05em;
                padding-top: 0.7em;
                color: $color-dark-gray;
            }
            strong {
                position: absolute;
                top: 0;
                padding: 0.1em 0;
                color: #fff;
                background-color: $color-red;
            }
            em {
                position: absolute;
                bottom: -0.1em;
                color: $color-blue;
                font-size: 0.8em
            }
        }
        .calendar-icon * {
            display: block;
            width: 100%;
            font-size: 1em;
            font-weight: bold;
            font-style: normal;
            text-align: center;
        }
        .reminder-text {
            font-variant: petite-caps;
            color: $color-dark-gray;
            padding-top: 36px;
            letter-spacing: 2px;
        }
    }
}

@media screen and (max-width: $break-sm) {
    .header-image-wrapper img {
        width: 400px;
    }
    .mat-dialog-actions {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }
}