@import "../../../styles.scss";
.plant-details-dialog {
    .add-plant-header {
        @media screen and (max-width: $break-sm) {
            .close-dialog-icon {
                position: relative;
                left: calc(100% - 24px);
            }
        }
        img {
            max-height: 200px;
            margin: -16px 24px 24px 0px;
            @media screen and (max-width: $break-sm) {
                max-height: 250px;
            }
        }
        .image-found {
            border-bottom: 4px solid $color-light-green;
            border-left: 4px solid $color-light-green;
            border-right: 4px solid $color-light-green;
            margin: -24px 24px 24px -24px;
            @media screen and (max-width: $break-sm) {
                margin: -24px -48px 24px -24px;
                border-left: none;
                border-right: none;
            }
        }
        h1 {
            color: $color-dark-gray;
            letter-spacing: 0.25rem;
            font-variant: petite-caps;
        }
        h2 {
            color: $color-dark-green;
            font-style: italic;
        }
        h4 {
            color: $color-blue;
            opacity: 0.6;
            margin-top: 0.5rem;
        }
    }
    .plant-details-container {
        border-top: 1px solid $color-light-gray;
        padding-top: 1rem;
        font-size: 1.25rem;
        .slider-container {
            height: 186px;
            table {
                border-collapse: collapse;
                tr {
                    margin-bottom: 1rem;
                    td {
                        border-left: 2px solid $color-light-gray;
                        padding-left: 1rem;
                    }
                }
            }
            .highlight {
                color: $color-red;
            }
            h3 {
                text-align: center;
                opacity: 0.6;
            }
            div {
                text-align: justify;
            }
        }
        .bullet-icon {
            color: $color-red;
            position: relative;
            top: 0.25rem;
        }
        .info-icon {
            font-size: 1rem;
            color: $color-dark-gray;
            cursor: pointer;
            opacity: 0.4;
            position: relative;
            top: 0.75rem;
            left: 0.5rem;
            &:hover {
                color: $color-red;
                opacity: 1;
            }
        }
        .harvest-info-icon {
            top: .5rem;
            left: -0.25rem;
        }
    }
    .reminder-list-item {
        .calendar-icon {
            font-size: 1em;
            display: block;
            position: relative;
            width: 4em;
            height: 4em;
            background-color: #fff;
            border-radius: 0.6em;
            box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 $color-light-gray, 0 4px 0 #fff, 0 5px 0 $color-light-gray, 0 0 0 1px #bdbdbd;
            overflow: hidden;
            span {
                font-size: 1.8em;
                letter-spacing: -0.05em;
                padding-top: 0.7em;
                color: $color-dark-gray;
            }
            strong {
                position: absolute;
                top: 0;
                padding: 0.1em 0;
                color: #fff;
                background-color: $color-red;
            }
            em {
                position: absolute;
                bottom: 0.1em;
                color: $color-blue;
                font-size: 0.8em
            }
        }
        .calendar-icon * {
            display: block;
            width: 100%;
            font-size: 1em;
            font-weight: bold;
            font-style: normal;
            text-align: center;
        }
        .reminder-text {
            font-variant: petite-caps;
            color: $color-dark-gray;
        }
    }
    @media screen and (max-width: $break-sm) {
        h4 {
            margin-bottom: 1rem;
        }
        .mat-dialog-actions {
            position: absolute;
            bottom: 2rem;
            right: 1rem;
        }
    }
}