<mat-icon class="close-dialog-icon" (click)="dialogRef.close()">close</mat-icon>
<div class="plant-details-dialog" fxLayout="column">
    <div class="add-plant-header">
        <img *ngIf="dataService.isImageLoaded" class="image-found" src="{{plant.img}}" />
        <img *ngIf="!dataService.isImageLoaded && !plant.stage" class="image-not-found" src="{{'../../../assets/icons/' + plant.type + '.svg'}}" />
        <img *ngIf="!dataService.isImageLoaded && plant.stage" class="image-not-found" src="{{'../../../assets/icons/plant-stage/stage' + plant.stage + '.svg'}}" />

        <div fxFlex="100" fxLayoutAlign="center" fxLayout="column">
            <h1>{{ plant.commonName ? plant.commonName : plant.botanicalName }}</h1>
            <h2>{{plant.commonName ? plant.botanicalName : '' }}</h2>
            <h4>{{toSentenceCase(plant.variety)}}</h4>
        </div>
    </div>

    <div class="plant-details-container" fxLayout="column">
        <!-- General Details -->
        <div *ngIf="step === 0" fxLayout="column" class="slider-container">
            <table *ngIf="plant.lifeType || plant.type || plant.sunSchedule">
                <tr *ngIf="plant.lifeType || plant.type">
                    <td *ngIf="plant.type" fxLayout="row" fxFlex>
                        <h3 class="highlight">{{plant.type}}</h3>
                    </td>
                    <td *ngIf="plant.lifeType" fxLayout="row" fxFlex>
                        <h3 class="highlight">{{plant.lifeType}}</h3>
                        <mat-icon class="info-icon" [matTooltip]="getTooltipText('lifeType', plant.lifeType)" matTooltipClass="dig-it-tooltip">help_outline</mat-icon>
                    </td>
                </tr>

                <tr *ngIf="plant.sunSchedule">
                    <td fxLayout="row" fxFlex="100">
                        <h3 class="highlight">{{plant.sunSchedule}}</h3>
                        <mat-icon class="info-icon" [matTooltip]="getTooltipText('sunSchedule', plant.sunSchedule)" matTooltipClass="dig-it-tooltip">help_outline</mat-icon>
                    </td>
                </tr>
            </table>
            <div *ngIf="plant.harvestable && plant.weeksToHarvest">Approx. harvest date: <span class="highlight">{{reminderService.getHarvestDateString(user, plant)}}</span>
                <mat-icon class="info-icon" [matTooltip]="getTooltipText('harvestDate')" matTooltipClass="dig-it-tooltip">help_outline</mat-icon>
            </div>
            <div *ngIf="plant.zones">
                <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Grows well in zones <span class="highlight">{{plant.zones}}</span></div>
            <div *ngIf="plant.comment">
                <div fxFlex="30" class="highlight">Comments: </div>
                <div fxFlex>{{toSentenceCase(plant.comment)}}</div>
            </div>

            <!-- Sowing Details -->
            <div *ngIf="!plant.comment">
                <div *ngIf="plant.methodNum">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon>
                    {{dataService.getSowingMethodString(plant.methodNum)}}
                </div>
                <div *ngIf="plant.depth || plant.sowingSpace">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Seeds should be sown
                    <span class="highlight" *ngIf="plant.depth">{{plant.depth}} inches deep </span>
                    <span *ngIf="plant.depth && plant.sowingSpace">and </span>
                    <span class="highlight" *ngIf="plant.sowingSpace">{{plant.sowingSpace}} inches apart</span>.
                </div>
            </div>
        </div>

        <div *ngIf="step === 1" fxLayout="column" class="slider-container">
            <div *ngIf="plant.comment">
                <div *ngIf="plant.methodNum">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon>
                    {{dataService.getSowingMethodString(plant.methodNum)}}
                </div>
                <div *ngIf="plant.depth || plant.sowingSpace">
                    <mat-icon class="bullet-icon">keyboard_arrow_right</mat-icon> Seeds should be sown
                    <span class="highlight" *ngIf="plant.depth">{{plant.depth}} inches deep </span>
                    <span *ngIf="plant.depth && plant.sowingSpace">and </span>
                    <span class="highlight" *ngIf="plant.sowingSpace">{{plant.sowingSpace}} inches apart</span>.
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions fxFlex="100" fxLayoutAlign="end center">
        <button mat-button color="secondary" (click)="dialogRef.close()" *ngIf="step === 0">Close</button>
        <button mat-raised-button color="primary" (click)="onNextStep()" *ngIf="step === 0 && (plant.methodNum || plant.depth || plant.sowingSpace)">Next ></button>
        <button mat-raised-button color="secondary" (click)="onPreviousStep()" *ngIf="step !== 0">< Back</button>
        <button mat-button color="primary" (click)="dialogRef.close()" *ngIf="step !== 0">Close</button>
    </mat-dialog-actions>
</div>